body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#maindiv{
    text-align: center;
}
#para1{
    font-weight: bold;
    font-style: italic;
}
.div2{
    margin-left: 240px;

}